<h1>All Assignments</h1>
<% @assignments.each do |assignment| %>
<div class="media">
	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to assignment.title, assignment %>
		</h4>
	</div>
</div>
<% end %>
